/* Variables */
:root {
  --primary: #ffc631;
  --secondary: #009879;
  --font: 'Montserrat',
}

.uses-color-primary {
  color: var(--primary) !important;
}

.uses-cursor-pointer {
  cursor: pointer;
}

/* Base */
body, button, input, select, textarea {
  font-family: var(--font), sans-serif;
  letter-spacing: -0.4px;
}

/* App.js */
#App {
  height: 100vh;
}

/* Loader.js */
.CustomLoader {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  perspective: 800px;
}

.CustomLoader .inner {
  position: absolute;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border-radius: 50%;  
}

.CustomLoader .inner.one {
  left: 0%;
  top: 0%;
  animation: rotate-one 1s linear infinite;
  border-bottom: 3px solid var(--secondary);
}

.CustomLoader .inner.two {
  right: 0%;
  top: 0%;
  animation: rotate-two 1s linear infinite;
  border-right: 3px solid var(--secondary);
}

.CustomLoader .inner.three {
  right: 0%;
  bottom: 0%;
  animation: rotate-three 1s linear infinite;
  border-top: 3px solid var(--secondary);
}

@keyframes rotate-one {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
}

@keyframes rotate-two {
  0% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
  }
}

@keyframes rotate-three {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
}

/* VideoBot.js */
.VideoBot {
  position: relative;
  height: 100%;
}

/* Video.js */
.Video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.Video > *,
.Video .vjs-control-bar > *,
.Video .vjs-control-text {
  /* Hidden features */
  display: none;
}

.Video video,
.Video .vjs-control-bar,
.VideoBot[data-debug="true"] .Video .vjs-current-time {
  /* Visible features */
  display: block;
}

.Video video {
  height: 100%;
  margin: 0 auto;
}

.Video video:focus {
  outline: none;
}

.vjs-current-time {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--primary);
}

/* PauseScreen.js */
/* EndScreen.js */
.PauseScreen,
.EndScreen {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.5);
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.PauseScreen,
.EndScreen {
  pointer-events: none;
}

.PauseScreen *,
.EndScreen * {
  color: var(--primary);
}

.PauseScreen[data-active="true"],
.EndScreen[data-active="true"] {
  opacity: 1;
  transition: opacity 0.5s;
}

.EndScreen[data-active="true"] {
  pointer-events: initial;
}

.PauseScreen[data-active="true"] {
  transition-delay: 2s;
}

/* Input.js */
.Input {
  position: absolute;
  bottom: 0;
  min-height: 100px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-mask-image: linear-gradient(to top, black 75%, transparent);
}

.Input[data-disabled="true"] {
  pointer-events: none;
}

.Input, .Input__form {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Input__form {
  width: 100%;
}

.InputText {
  position: relative;
  width: 100%;
  max-width: 500px;
}

.InputText__input {
  width: 100%;
  color: var(--primary);
  background: none;
  border: 0;
  box-shadow: none !important;
}

.InputText__input::placeholder {
  opacity: 0.5;
  color: var(--primary);
}

.InputText__submit {
  color: var(--primary) !important;
  border-color: transparent !important;
  background: transparent !important;
  outline: 0 !important;
}

.InputText__line {
  width: 100%;
  height: 2px;
  background-color: var(--primary);
}

.Buttons {
  justify-content: center;
}

.Button {
  border-color: transparent;
  background-color: transparent;
  color: var(--primary);
  transition: border-color 0.25s ease-out, box-shadow 0.25s ease-out;
  font-size: 20px;
}

.Button:hover {
  color: var(--primary);
  border-color: var(--primary);
}

.Button:active, .Button:focus {
  color: var(--primary);
  box-shadow: 0 0 10px 0 var(--primary) !important;
  border-color: var(--primary);
}